TradeMaster.MarketManager/Service References/QuotesServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="QuotesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TradeMaster.Entities" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TradeMaster.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IQuotesService_Echo_InputMessage">
    <wsdl:part name="parameters" element="tns:Echo" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_Echo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EchoResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_GetQuotes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotes" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_GetQuotes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuotesResponse" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_GetTradeSignals_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeSignals" />
  </wsdl:message>
  <wsdl:message name="IQuotesService_GetTradeSignals_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeSignalsResponse" />
  </wsdl:message>
  <wsdl:portType name="IQuotesService">
    <wsdl:operation name="Echo">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/Echo" message="tns:IQuotesService_Echo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/EchoResponse" message="tns:IQuotesService_Echo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/GetQuotes" message="tns:IQuotesService_GetQuotes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/GetQuotesResponse" message="tns:IQuotesService_GetQuotes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTradeSignals">
      <wsdl:input wsaw:Action="http://tempuri.org/IQuotesService/GetTradeSignals" message="tns:IQuotesService_GetTradeSignals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IQuotesService/GetTradeSignalsResponse" message="tns:IQuotesService_GetTradeSignals_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IQuotesService" type="tns:IQuotesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Echo">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/Echo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuotes">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/GetQuotes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTradeSignals">
      <soap:operation soapAction="http://tempuri.org/IQuotesService/GetTradeSignals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QuotesService">
    <wsdl:port name="BasicHttpBinding_IQuotesService" binding="tns:BasicHttpBinding_IQuotesService">
      <soap:address location="http://localhost/Market/QuotesService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>