TradeMaster.MarketManager/Service References/QuotesServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TradeMaster.Entities" />
  <xs:element name="Echo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EchoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EchoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetQuotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TradeMaster.Entities" minOccurs="0" name="GetQuotesResult" nillable="true" type="q1:ArrayOfOHLC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeSignals">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTradeSignalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TradeMaster.Entities" minOccurs="0" name="GetTradeSignalsResult" nillable="true" type="q2:ArrayOfTradeSignal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>